html{height: 100%;}
body{height: 100%;}
h5{
    display: inline-block;
}
.first{text-align: center;
width: 50%;
display: inline-block;
float: left;
}
.btn , .profBtn , .studentBtn{
border: 2px solid blue;
background-color: blue; 
color: white;
border-radius: 3px;
}
.second{
    display: inline-block;
    width: 45%;
   height: 100%;
    text-align: center;
    
}
div{
   
    
    box-sizing: border-box;
    height: 100%;

}
main{
    width: 100%;
    
}
ul{
    list-style: none;
}